{% extends 'base.html' %}

{% block content %}
    <h1>Títulos das músicas ({{ album.title }}/{{ album.author }})</h1>
    <hr>
    <ul>
    {% for music in album_musics %}
        <li>
            Música: {{ music.title }} <br/>
            Duração: {{ music.duration }}
        </li>
    {% endfor %}
    <p>Número de músicas: {{ album_musics|length }}</p>
    </ul>
    <a class="btn btn-primary mr-3" href="{% url 'music_app:update_album' album.pk %}">Atualizar Álbum</a>
    <a class="btn btn-danger mr-3" href="{% url 'music_app:delete_album' album.pk %}">Deletar Álbum</a>
    <a href="/">Retornar aos Álbuns</a>

    <canvas id="myChart"></canvas>

{% endblock %}

{% block custom_script %}
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ album_data }}
            }]
        },

        // Configuration options go here
        options: {}
    });
    </script>
{% endblock%}