{% extends 'base.html' %}

{% block content %}
    <h1>Álbuns existentes</h1>
    <hr>
    <ul>
    {% for album in albums %}
        <li>
            <a href="{% url 'music_app:album_detail' album.pk %}">{{ album.title }}</a>
        </li>
    {% endfor %}
    <p>Número de álbums: {{ albums|length }}</p>
    </ul>
    <a href="{% url 'music_app:create_album' %}" class="btn btn-dark float-right">Criar Novo Álbum</a>
    <a href="{% url 'music_app:create_music' %}" class="btn btn-dark float-right mr-3">Criar Nova Música</a>
{% endblock %}