{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Deletar Álbum</h1>
    <hr>
    <p>Você tem certeza disso "{{ album }}"?</p>
    <input class="btn btn-danger" type="submit" value="Deletar!">
</form>
{% endblock %}