{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h1>Formulário para criação de nova música</h1>
    <hr>
    <div class="form-group">
        <label for="id_title">{{ form.title.label }}</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="id_author">{{ form.album.label }}</label>
        {{ form.album }}
    </div>
    <div class="form-group">
        <label for="id_style">{{ form.duration.label }}</label>
        {{ form.duration }}
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}