{% extends 'base.html' %}

{% block content %}
    <h1>Formulário para criação de novo álbum</h1>
    <hr>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_author">{{ form.author.label }}</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            <label for="id_style">{{ form.style.label }}</label>
            {{ form.style }}
        </div>
        <div class="form-group">
            <label for="id_track_numbers">{{ form.track_numbers.label }}</label>
            {{ form.track_numbers }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock %}